body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

#root {
  width: 100%;
  padding-top: 70px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #4ad0cc;
  --secondary-color: #d7e3ef;
  --box-shadow: 0 0 7px 0 var(--secondary-color);
  --main-color-hover: #52b1ae;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
      color: #213547;
      background-color: #ffffff;
  }
}
