*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.card {
    background-color: #fff;
    min-width: 359px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.field label {
    flex: 1;
    font-weight: bold;
    color: #555;
    width: 100%;
    max-width: 163px;
    min-width: 95px;
}

.field span {
    flex: 2;
    padding: 8px 12px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.field input,
.field select {
    flex: 2;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #007bff;
}

.iconButton:hover {
    color: #0056b3;
}

.iconButton:disabled {
    cursor: not-allowed;
    color: #ccc;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

.avatarSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

.uploadButton {
    padding: 5px 7px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    flex: 0 0 auto;
}

.uploadButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.uploadButton:hover:not(:disabled) {
    background-color: #0056b3;
}

.avatarSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
}

.avatar {
    width: auto;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.dropzone {
    width: auto;
    height: 120px;
    border: 2px dashed #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.dropzone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}